<div class="slide">
    <h3>duck typing</h3>
    <pre>
        is array check
        variable typing object, double, boolean, object, undefined
        Use of Function and capital functions like String, Array
        //http://stackoverflow.com/questions/3379529/duck-typing-in-javascript
    </pre>
</div>

    
<div class="slide">    
    <h3>Function Hoisting</h3>
    <b>Functions are hoisted first</br>
    then variables</b>
    Function declarations have priority over variable declarations, 
    but not over variable assignments.        
    <pre>            
        var foo = function(){
            console.log('foo expression');
        }
        
        function foo(){
            console.log('foo declaration');
        }
        
        foo(); //foo expression
        
        /*
        Here hoisting happenes! 
        function foo(){...} is declaration and it 
        will move to on top of current scope.
        function foo(){...} then
        var foo = function(){..}
        foo();            
        
        */                             
    </pre>
</div>

<div class="slide">    
    <h3>Function Hoisting</h3>
    <b>Function declarations are hoisted completely</b>
    <pre>            
        function foo(){}    //function declaration
        var bar = function(){} //function expression                    
    </pre>
</div>

<div class="slide">
    <h3>Varialbe Hoisting</h3>
    <b>JavaScript only hoists declarations, not initializations.</b>        
    <pre>            
        function foo(){
            var a = b = 1;  //be careful a is defined localy but
                            //b is declared globally!!
                            //thats why sctrict mode through error 
                            //this kind of declaration 
            console.log(a); //1
            console.log(b); //1    
        }
        foo();
        console.log(b) //1
        console.log(a) //error: a is not defined            
    </pre>
</div>

<div class="slide">
    <h3>Varialbe Hoisting</h3>        
    <pre>            
        function foo(){
            a = 1;  //here a is global varialbe but !
            b = 1;                
            console.log(a + b);
            
            var a,b;  //its declaration restrict to be global    
        }
        foo();
        console.log(a) //error: a is not defined            
    </pre>
</div>

<div class="slide">
    <h3>Varialbe Hoisting</h3>        
    <pre>            
        function foo(){
            //'use strict'; here use strict removed, so we can now declare 
            //global variable 
            
            a = 1;  //here a is global varialbe but !
            var a;  //its declaration restrict to be global
            console.log(a);    
        }
        foo();
        console.log(a) //error: a is not defined            
    </pre> 
</div>

<div class="slide">
    <h3>Varialbe Hoisting</h3>        
    <pre>            
        function foo(){
            'use strict';
            
            a = 1;
            var a;
            console.log(a);    
        }
        foo();
        
        /*
        JavaScript engine understood it aslike
        var a;
        a=1;
        console.log(a);
        So all the variable declaration is hoised to top of its
        scope
        Recomanded: it is recomonanded that you declare all the varibale
        in top of it scope;
        */
    </pre>        
</div>

<div class="slide">
    <h3>Hoisting</h3>
    <pre>            
        function foo(){            
            console.log(a); //undefined
            var a = 1;
            console.log(a); //1
        }
        foo();            
        
        /*
        we try to access a before its declaration;
        */
    </pre>
</div>

<div class="slide">
    <h3>Scope</h3>
    <pre>            
        function foo(){
        'use strict';
        
            test = 'local scope';
            console.log(test) // local scope;
        }
        foo();
        console.log(test); //local scope
        
        /*
        Now use script restrict for global variable declaration
        */
    </pre>
</div>

<div class="slide">
    <h3>Scope</h3>
    <pre>
        var test = 'global scope';
        function foo(){
        'use strict';
        
            test = 'local scope';
            console.log(test) // local scope;
        }
        foo();
        console.log(test); //local scope
        
        /*
        Use script doesn't help here it can't protect the variable 
        declaration
        */
    </pre>
</div>

<div class="slide">
    <h3>Scope</h3>
    <pre>
        'use strict';
        
        var test = 'global scope';
        function foo(){
            test = 'local scope';
            console.log(test) // local scope;
        }
        foo();
        console.log(test); //local scope
        
        /*
        Here we use the global variable, so it override inside
        foo function
        */
    </pre>
</div>

<div class="slide">
    <h3>Scope</h3>
    <pre>
        var test = 'global scope';
        function foo(){
            test = 'local scope';
            console.log(test) // local scope;
        }
        foo();
        console.log(test); //local scope
        
        /*
        Here we use the global variable, so it override inside
        foo function
        */
    </pre>
</div>

<div class="slide">
    <h3>Scope</h3>
    <pre>
        var test = 'global scope';
        function foo(){
            var test = 'local scope';
            console.log(test) // local scope;
        }
        foo();
        console.log(test); //global scope
        
        /*
        Here re-declaration var test inside of foo it defined it's inner
        scope, it never override the global scope.
        */
    </pre>
</div>

<div class="slide">
    <h3>Scope</h3>
    <pre>
        var myVal = 'outer scope';
        function foo(){
            console.log(myVal); //got undefined
            var myVal = 'inner scope';
            console.log(myVal); //inner scope
        }
        foo();
        console.log(myVal); //outer scope
        
        /*
        When we define any function it enclosed its scope
        here as if myVal is local variable for function foo
        if we didn't declare var myVal inside of foo then 
        it pretend it accessing global variable
        */
    </pre>
</div>

<div class="slide">
    <h3>Variable declaration</h3>
    <pre>
        (function(){
            var a = b = 5;
            console.log(a); // 5
            console.log(b); // 5
        })() //this is an immediate invoked function
    </pre> 
    What happened now
    <pre>
        (function(){
            'use strict'
            var a = b = 5; // error b is not defined
            console.log(a); // 5
            console.log(b); // 5
        })();
    </pre>
</div>

<div class="slide">
    <h3>Variable declaration</h3>
    <pre>            
        function foo(){
            var a;      //declaration
                a=1;    //assignment
            
            var b = 1;  //declaration and assignment
        }
        foo();            
        
        /*
        JavaScript engine treat the second statement as like the frist one
        so inside execution it looks something like
        var b;
        b=1; 
        remember the assignment happenes immediate to its declaration
        */
    </pre>
</div>

<div class="slide">       
    <h3>Variable declaration</h3>
    <pre>            
        function foo(){
            'use strict';
            var a = 1;
            b=2; //this goes to window 
            
            delete window.b; //error in strict mode
            delete this.a;                
        }
        foo();   
    </pre>
</div>

<div class="slide">
    <h3>Variable declaration</h3>
    <pre>            
        function foo(){
            'use strict';
            
            this.a;
            this.b = 1;
            
            delete this.a;
            delete this.b;
            
            console.log(this.a); //uncaught reference error: a is not defined                
            console.log(this.b); //this line will not be executed
        }
        foo();   
    </pre>
</div>

<div class="slide">
    <h3>Variable declaration</h3>
    <pre>            
        function foo(){
            var a; 
            console.log(a); //undefined no error                
            console.log('executed!');                
        }
        foo();   
    </pre>
</div>

<div class="slide">
    <h3>Variable declaration</h3>
    <pre>            
        function foo(){
            console.log(a); //uncaught reference error:
                            //a is not defined
            
            console.log('this line never execute');
            
        }
        foo();   
    </pre>
</div>