<div class="slide">
    <h3>How to dynamically create CSS class in JavaScript and apply ?</h3>
    <pre>
        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '.cssClass { color: #F00; }';
        document.getElementsByTagName('head')[0].appendChild(style);
        document.getElementById('someElementId').className = 'cssClass';
    </pre>

    <h3>Are there any events fired by an element to check wether a css3 transition has started or end?</h3>
    <pre>
       var box = document.querySelector('.box');
       box.addEventListener( 'webkitTransitionEnd transitionend oTransitionEnd',function(event) {alert("Finished transition!");}, false );  
       /* webkitTransitionEnd for Chorme ,  transitionEnd for Mozilla and Internet Explorer, oTransitionEnd for Opera */
    </pre>

    <h3>How to break the _.each function in underscore.js ?</h3>
        <p> You can't break from the each method it emulates the native forEach method's behavior, 
            and the native forEach doesn't provide to escape the loop (other than throwing an exception).</p>
        <h4>However, all hope is not lost! You can use the Array.every method. :)</h4>
        <p>so, every executes the provided callback function once for each element present in the array until it 
            finds one where callback returns a false value. If such an element is found, the every method immediately returns false.</p>
    <pre>
        [1, 2, 3, 4].every(function(n) {
           return n !== 3;
         });
    </pre>
    <p>This will alert 1 through 3, and then "break" out of the loop.</p>

    <h3>Whats the best way to print the contents of a DIV?</h3>
    <pre>
        function PrintElem(elem)
        {
            Popup($(elem).html());
        }

        function Popup(data)
        {
            var mywindow = window.open('', 'my div', 'height=400,width=600');
            mywindow.document.write('<html><head><title>my div</title>');
            /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
            mywindow.document.write('</head><body >');
            mywindow.document.write(data);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10

            mywindow.print();
            mywindow.close();

            return true;
        }
        //PrintElem(/* your html document element */)         
    </pre>

    <h3>What's the difference between console.dir and console.log?</h3>
    <p>log only prints out a toString representation, whereas dir prints out a navigable tree.</p>

    <h3>How to check if element exists in the visible DOM?</h3>
    <p> you can use one of flowing methods that exist for finding elements, such as (all living of document):</p>
    <ul>
        <li>querySelector()/querySelectorAll()</li>
        <li>getElementsByClassName()</li>
        <li>getElementsByName()</li>
        <li>getElementById()</li>
    </ul>

    <h3>How I Disable Angular IE Caching issue for $http ?</h3>
    <p>Instead of disabling caching for each single GET-request, you can disable it globally in the $httpProvider:</p>
    <pre>
       myModule.config(['$httpProvider', function($httpProvider) {
            //initialize get if not there
            if (!$httpProvider.defaults.headers.get) {
                $httpProvider.defaults.headers.get = {};
            }
            $httpProvider.defaults.headers.get['Cache-Control'] = 'no-cache';
            $httpProvider.defaults.headers.get['Pragma'] = 'no-cache';
        }]);
    </pre>

    <h3>map function for objects (instead of arrays)</h3>
    <pre>
        var newObject = Object.keys(myObject).reduce(function(previous, current) {
            previous[current] = myObject[current] * myObject[current];
            return previous;
        }, {});

        console.log(newObject);
    </pre>

    <h3>What's the best method to get the index of an array which contains objects?</h3>
    <pre>
        var hello = {
            hello: 'world',
            foo: 'bar'
        };
        var qaz = {
            hello: 'stevie',
            foo: 'baz'
        }

        var myArray = [];
        myArray.push(hello,qaz);

        function arrayObjectIndexOf(myArray, searchTerm, property) {
            for(var i = 0, len = myArray.length; i < len; i++) {
                if (myArray[i][property] === searchTerm) return i;
            }
            return -1;
        }
        arrayObjectIndexOf(arr, "stevie", "hello");
    </pre>
    <h3>Get difference between 2 dates in javascript?</h3>
    <pre>
        var date1 = new Date("7/13/2010");
        var date2 = new Date("12/15/2010");
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
        console.log(diffDays);
    </pre>
    <h3>How can I beautify JSON programmatically?</h3>
    <pre>
       JSON.stringify(jsObj, null, 4);
    </pre>
    <h3>How can I make a visitor's browser go fullscreen using JavaScript, in a way that works with IE, Firefox and Opera?</h3>
    <pre>
        window.onload = maxWindow;

        function maxWindow() {
            window.moveTo(0, 0);


            if (document.all) {
                top.window.resizeTo(screen.availWidth, screen.availHeight);
            }

            else if (document.layers || document.getElementById) {
                if (top.window.outerHeight < screen.availHeight || top.window.outerWidth < screen.availWidth) {
                    top.window.outerHeight = screen.availHeight;
                    top.window.outerWidth = screen.availWidth;
                }
            }
        }
    </pre>
    <h3>How to convert image into base64 string using javascript ?</h3>
    <p>Create a canvas, load your image into it and then use toDataURL() to get the base64 representation (actually, it's a data: URL but it contains the base64-encoded image).</p>
    <h3>How Remove Object from Array using JavaScript ?</h3>
     <pre>
        someArray.shift(); // first element removed
        someArray = someArray.slice(1); // first element removed
        someArray.pop(); // last element removed
     </pre>
    <p>If you want to remove element at position x, use:</p>
    <pre>
        someArray.splice(x,1);
    </pre>

    <h3>Browser detection in JavaScript?</h3>
    <pre>
        navigator.sayswho= (function(){
            var ua= navigator.userAgent, tem,
            M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if(/trident/i.test(M[1])){
                tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE '+(tem[1] || '');
            }
            if(M[1]=== 'Chrome'){
                tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
                if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
            }
            M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
            if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
            return M.join(' ');
        })();
    </pre>

    <h3>How to load up CSS files using Javascript?</h3>
    <pre>
        var cssId = 'myCss';  // you could encode the css path itself to generate id..
        if (!document.getElementById(cssId))
        {
            var head  = document.getElementsByTagName('head')[0];
            var link  = document.createElement('link');
            link.id   = cssId;
            link.rel  = 'stylesheet';
            link.type = 'text/css';
            link.href = 'http://website.com/css/stylesheet.css';
            link.media = 'all';
            head.appendChild(link);
        }
    </pre>
    <h3>Does JavaScript have the interface type (such as Java's 'interface')?</h3>
    <p>1. JavaScript inheritance is based on objects, not classes.</p>
    <p>JavaScript is an extremely dynamically typed language -- you can create an object with the proper methods, which would make it conform to the interface, and then undefine all the stuff that made it conform. It'd be so easy to subvert the type system -- even accidentally! -- that it wouldn't be worth it to try and make a type system in the first place.</p>

    <h3>How prevent BODY from scrolling when a modal is opened ?</h3>
    <pre>
        body.modal-open {
            overflow: hidden;
        }

        $("#myModal").on("show", function () {
          $("body").addClass("modal-open");
        }).on("hidden", function () {
          $("body").removeClass("modal-open")
        });
    </pre>

    <h3>Get JavaScript object from array of objects by value or property</h3>
    <pre>
        var jsObjects = [
           {a: 1, b: 2},
           {a: 3, b: 4},
           {a: 5, b: 6},
           {a: 7, b: 8}
        ];

        var result = jsObjects.filter(function( obj ) {
          return obj.b == 6;
        });

        console.log(result);
    </pre>
    <h3></h3>
</div>